header {
  background: linear-gradient(to right, blue, rgb(77, 6, 77));
  text-align: center;
}

h4,
h5 {
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}

.five-day-container {
  display: flex;
}

#description {
  text-transform: capitalize;
}

.flex {
  display: flex;
  align-items: center;
}
